# Requirements for development/testing environment
-r requirements.txt
black==25.1.0
coverage==7.8.2
Faker==37.3.0
flake8==7.2.0
isort==6.0.1
mypy==1.15.0
django-stubs==5.1.3
djangorestframework-stubs==3.15.3
Sphinx==8.1.3
sphinxcontrib-django==2.5
tblib==3.1.0