# Common requirements
Django==5.2.13
djangorestframework==3.17.1
django-crispy-forms==2.6
django-filter==25.2
crispy-bootstrap5==2026.3
django-stubs-ext==5.2.9
drf-spectacular==0.29.0
mysqlclient==2.2.8
pycountry==26.2.16
python-json-logger==4.1.0
python-ldap==3.4.5
requests==2.33.1