{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mb-4">{% trans "Role search" %}</h1>
  {% crispy form form.helper %}
  <h2 id="results-list" class="mt-4">{% trans "Results" %}</h2>
  {% if object_list %}
    <table class="table" aria-describedby="results-list">
      <thead>
      <tr>
        <th scope="col">{% trans "Role" %}</th>
        <th scope="col">{% trans "Parent" %}</th>
        <th scope="col">{% trans "Owner" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for role in object_list %}
        <tr>
          <th scope="row"><a href="{% url 'role-detail' role.pk %}">{{ role.name }}</a></th>
          <td>{% if role.parent is not None %}{{ role.parent }}{% endif %}</td>
          <td>{% if role.owner is not None %}{{ role.owner.get_full_name }}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% if request.GET.submit %}
      <p>{% trans "No results with the provided search parameters." %}</p>
    {% else %}
      <p>{% trans "Submit a search to get results." %}</p>
    {% endif %}
  {% endif %}
{% endblock %}