{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mb-3">{% trans "Accept invite and update information" %}</h1>
  <p>{% trans "You have received a personal invitation to become a member of the University of Helsinki University community." %}</p>
  <form method="post">
    {% crispy form %}
    <div class="row">
      {% if user.is_authenticated %}
        <div class="col-md-6">
          <p>{% trans "You are already logged in. Claim invite here or log out to claim invite with another user." %}</p>
          <input type="submit" name="claim" value="{% trans 'Claim invite' %}" class="btn btn-primary" id="submit-id-submit"/>
        </div>
      {% else %}
        <div class="col-md-6">
          <h2 class="mt-3">{% trans "Login" %}</h2>
          <p>{% trans "If you already have a University of Helsinki user account or have previously registered for Kamu, log in here." %}</p>
          <input type="submit" name="login" value="{% trans 'Login' %}" class="btn btn-primary" id="submit-id-submit"/>
        </div>
        <div class="col-md-6">
          <h2 class="mt-3">{% trans "Register as a new user" %}</h2>
          <p>{% blocktrans %}If you are a new user, please register here. Registration is required for a University of
            Helsinki user account and other access rights.{% endblocktrans %}</p>
          <input type="submit" name="register" value="{% trans 'Register as a new user' %}" class="btn btn-primary" id="submit-id-submit"/>
        </div>
      {% endif %}
    </div>
  </form>
{% endblock %}