{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load auth_backend %}

{% block content %}
  <h1 class="mb-5">{% trans "Registration" %}</h1>
  <p>{% trans "Welcome to Kamu registration. We recommend using an external identity but you can also register with an email address or an SMS-capable phone number." %}</p>
  <h2 class="mb-5">{% trans "Register with an external identity" %}</h2>
  <div class="row">
    {% if "suomifi"|enabled_backend %}
      <div class="col-md-6 col-12 mb-3">
        <a href="{% url 'login-suomifi' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"><img class="mb-3" src="{% static "images/suomifi-signin-logo.png" %}" height="40" alt="{% trans 'Suomi.fi sign-in' %}"></a>
        <p>{% trans "Register with a Suomi.fi e-Identification or eIDAS." %}</p>
      </div>
    {% endif %}
    {% if "haka"|enabled_backend %}
      <div class="col-md-6 col-12 mb-3">
        <a href="{% url 'login-haka' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"><img class="mb-3" src="{% static "images/haka-signin-logo.svg" %}" height="40" alt="{% trans 'Haka sign-in' %}"></a>
        <p>{% trans "Register with a Haka federation account. Finnish universities, polytechnics and research institutions accounts." %}</p>
      </div>
    {% endif %}
    {% if "edugain"|enabled_backend %}
      <div class="col-md-6 col-12 mb-3">
        <a href="{% url 'login-edugain' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"><img class="mb-3" src="{% static "images/edugain-signin-logo.png" %}" height="40" alt="{% trans 'eduGAIN sign-in' %}"></a>
        <p>{% trans "Register with an eduGAIN federation account. Global research and education institution accounts." %}</p>
      </div>
    {% endif %}
    {% if "microsoft"|enabled_backend %}
      <div class="col-md-6 col-12 mb-3">
        <a href="{% url 'login-microsoft' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"><img class="mb-3" src="{% static "images/ms-signin-logo.svg" %}" alt="{% trans 'Microsoft sign-in' %}"></a>
        <p>{% trans "Register with a Microsoft account." %}</p>
      </div>
    {% endif %}
    {% if "google"|enabled_backend %}
      <div class="col-md-6 col-12 mb-3">
        <a href="{% url 'login-google' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"><img class="mb-3" src="{% static "images/google-signin-logo.svg" %}" alt="{% trans 'Google sign-in' %}"></a>
        <p>{% trans "Register with a Google account." %}</p>
      </div>
    {% endif %}
  </div>
  {% if "emailsms"|enabled_backend %}
    <h2 class="mb-3">{% trans "Register with email and SMS verification" %}</h2>
    {% crispy form %}
    <p>{% trans "Registration with an email account and an SMS-capable phone number is possible but we recommend using external identities." %}</p>
  {% endif %}
{% endblock %}
