{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{% trans "Identity search" %}</h1>
  {% crispy form form.helper %}
  <h2 id="results-list">{% trans "Results" %}</h2>
  <table class="table" aria-describedby="results-list">
  <thead>
    <tr>
      <th scope="col">{% trans "First names" %}</th>
      <th scope="col">{% trans "Last name" %}</th>
      <th scope="col">{% trans "E-mail addresses" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for identity in object_list %}
    <tr>
      <th scope="row"><a href="{% url 'identity-detail' identity.pk %}">{{ identity.name }}</a></th>
      <td>{% if identity.name is not None %}{{ identity.name }}{% endif %}</td>
      <td>{% if identity.name is not None %}{{ identity.name }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}