{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <form method='POST'>
    {% csrf_token %}
    <h1 class="mb-4">{{ identity.display_name }} | {% trans "Contact information" %}</h1>
    <h2 id="email-list" class="mt-5">{% trans "Email addresses" %}</h2>
    {% if email_list %}
      <div class="table-responsive">
        <table class="table" aria-describedby="email-list">
          <thead>
          <tr>
            <th scope="col" class="col-md-6">{% trans "Address" %}</th>
            <th scope="col" class="col-md-2">{% trans "Verified" %}</th>
            <th scope="col" class="col-md-2">{% trans "Priority" %}</th>
            <th scope="col" class="col-md-2">{% trans "Remove" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for address in email_list %}
            <tr>
              <th scope="row">{{ address.address }}</th>
              <td>{% if address.verified %}{% trans "Verified" %}{% else %}<a href="{% url 'email-verify' address.pk %}" class="btn btn-primary btn-sm">{% trans "Verify" %}</a>{% endif %}</td>
              <td>{% if not forloop.first %}<button type="submit" name="email_up" value="{{ address.pk }}" class="btn btn-warning btn-sm">{% trans "Up" %}</button>{% endif %}
                {% if not forloop.last %}<button type="submit" name="email_down" value="{{ address.pk }}" class="btn btn-warning btn-sm">{% trans "Down" %}</button>{% endif %}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#emailAddressModal{{ address.pk }}">{% trans "Remove" %}</button>
                <div class="modal fade" id="emailAddressModal{{ address.pk }}" tabindex="-1" aria-labelledby="emailAddressModalLabel{{ address.pk }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="emailAddressModalLabel{{ address.pk }}">{% trans "Confirm removal" %}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p class="text-break">{% trans "You are removing the email address" %} {{ address.address }}.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="submit" name="email_remove" value="{{ address.pk }}" class="btn btn-danger">{% trans "Confirm removal" %}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <p>{% trans "First verified address in the list is used as the default contact address. Any verified address can be used to log in to Kamu." %}</p>
    {% else %}
      <p>{% trans "You have not specified any email addresses." %}</p>
    {% endif %}
    <h2 id="phone-list" class="mt-5">{% trans "Phone numbers" %}</h2>
    {% if phone_list %}
      <div class="table-responsive">
        <table class="table" aria-describedby="phone-list">
          <thead>
          <tr>
            <th scope="col" class="col-md-6">{% trans "Number" %}</th>
            <th scope="col" class="col-md-2">{% trans "Verified" %}</th>
            <th scope="col" class="col-md-2">{% trans "Priority" %}</th>
            <th scope="col" class="col-md-2">{% trans "Remove" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for number in phone_list %}
            <tr>
              <th scope="row">{{ number.number }}</th>
              <td>{% if number.verified %}{% trans "Verified" %}{% else %}<a href="{% url 'phone-verify' number.pk %}" class="btn btn-primary btn-sm">{% trans "Verify" %}</a>{% endif %}</td>
              <td>{% if not forloop.first %}<button type="submit" name="phone_up" value="{{ number.pk }}" class="btn btn-warning btn-sm">{% trans "Up" %}</button>{% endif %}
                {% if not forloop.last %}<button type="submit" name="phone_down" value="{{ number.pk }}" class="btn btn-warning btn-sm">{% trans "Down" %}</button>{% endif %}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#phoneNumberModal{{ number.pk }}">{% trans "Remove" %}</button>
                <div class="modal fade" id="phoneNumberModal{{ number.pk }}" tabindex="-1" aria-labelledby="phoneNumberModalLabel{{ number.pk }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="phoneNumberModalLabel{{ number.pk }}">{% trans "Confirm removal" %}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p class="text-break">{% trans "You are removing the phone number" %} {{ number.number }}.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="submit" name="phone_remove" value="{{ number.pk }}" class="btn btn-danger">{% trans "Confirm removal" %}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <p>{% trans "First verified phone number in the list is used as the default contact number. Any verified number can be used to log in to Kamu." %}</p>
    {% else %}
      <p>{% trans "You have not specified any phone numbers." %}</p>
    {% endif %}
  </form>
  <h2 class="mt-5">{% trans "Add a new contact" %}</h2>
  {% crispy form form.helper %}

{% endblock %}