{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1 class="mb-4">{{ object.display_name }} | {% trans "Identity information" %}</h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <dl class="row">
        <dt class="col-sm-4">{% trans "Given names" %}</dt>
        <dd class="col-sm-8">{{ object.given_names|default:"&nbsp;" }}{% if object.given_names_verification > 1 %}<span class="text-success"> *</span>{% endif %}</dd>
        <dt class="col-sm-4">{% trans "Surname" %}</dt>
        <dd class="col-sm-8">{{ object.surname|default:"&nbsp;" }}{% if object.surname_verification > 1 %}<span class="text-success"> *</span>{% endif %}</dd>
        <dt class="col-sm-4">{% trans "Display name" %}</dt>
        <dd class="col-sm-8">{{ object.display_name|default:"&nbsp;" }}</dd>
        <dt class="col-sm-4">{% trans "Preferred language" %}</dt>
        <dd class="col-sm-8">{{ object.get_preferred_language_display }}</dd>
        {% if user == object.user or perms.kamu.view_restricted_information %}
          <dt class="col-sm-4">{% trans "Date of birth" %}</dt>
          <dd class="col-sm-8">{{ object.date_of_birth|default:"&nbsp;" }}{% if object.date_of_birth_verification > 1 %}<span class="text-success"> *</span>{% endif %}</dd>
          <dt class="col-sm-4">{% trans "Gender" %}</dt>
          <dd class="col-sm-8">{{ object.get_gender_display }}</dd>
          <dt class="col-sm-4">{% trans "Nationality" %}</dt>
          <dd class="col-sm-8">{% for nationality in object.nationality.all %}{{ nationality.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if object.nationality_verification > 1 %}<span class="text-success"> *</span>{% endif %}</dd>
          <dt class="col-sm-4">{% trans "Finnish personal identity code" %}</dt>
          <dd class="col-sm-8">{{ object.fpic|default:"&nbsp;" }}{% if object.fpic_verification > 1 %}<span class="text-success"> *</span>{% endif %}</dd>
        {% endif %}
      </dl>
    </div>
    <div class="col-12 col-lg-6">
      <dl>
        <dt class="col-sm-4">{% trans "Accounts" %}</dt>
        <dd class="col-sm-8">{% for account in object.useraccount.all %}{{ account.uid }} ({{ account.get_type_display | lower }}, {{ account.get_status_display | lower }}){% if not forloop.last %}<br>{% endif %}{% empty %}&nbsp;{% endfor %}</dd>
        {% if user == object.user or perms.kamu.view_contacts %}
          <dt class="col-sm-4">{% trans "Email addresses" %}</dt>
          <dd class="col-sm-8">{% for address in object.email_addresses.all %}{{ address.address }}{% if address.verified %}<span class="text-success"> *</span>{% endif %}{% if not forloop.last %}<br>{% endif %}{% empty %}&nbsp;{% endfor %}</dd>
          <dt class="col-sm-4">{% trans "Phone numbers" %}</dt>
          <dd class="col-sm-8">{% for number in object.phone_numbers.all %}{{ number.number }}{% if number.verified %}<span class="text-success"> *</span>{% endif %}{% if not forloop.last %}<br>{% endif %}{% empty %}&nbsp;{% endfor %}</dd>
        {% endif %}
        {% if user == object.user or perms.kamu.view_identifiers %}
          <dt class="col-sm-4">{% trans "External identifiers" %}</dt>
          <dd class="col-sm-8">{% for identifier in identifiers %}{{ identifier.get_type_display }}{% if not forloop.last %}<br>{% endif %}{% empty %}&nbsp;{% endfor %}</dd>
        {% endif %}
      </dl>
    </div>
  </div>
  <p><span class="text-success"> *</span> {% trans "verified" %}</p>
  {% if user == object.user or perms.kamu.change_basic_information or perms.kamu.change_contacts or perms.kamu.change_identifiers or perms.kamu.view_contracts or perms.kamu.view_accounts %}
    <h2>{% trans "View details and update" %}<button type="button" class="btn btn-info btn-sm info-button" data-bs-toggle="modal" data-bs-target="#infoModal">{% trans "info" %}</button></h2>
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="infoModalLabel">{% trans "View and manage your information" %}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
          </div>
          <div class="modal-body">
            <p class="text-break">{% trans "Basic information includes personal details such as names, preferred language, date of birth, and nationality." %}</p>
            <p class="text-break">{% trans "Contact information includes external email addresses and phone numbers." %}</p>
            <p class="text-break">{% trans "Identifiers include external login methods such as Google and Microsoft accounts or accounts from other universities." %}</p>
            <p class="text-break">{% trans "The Contracts section allows you to sign agreements required for certain roles, such as the Acceptable Use Policy and NDA." %}</p>
            {% if HELP_LINK_USERS %}<p class="text-break">{% blocktrans with link=HELP_LINK_USERS %}Read more about role management from the <a href="{{ link }}">IT Helpdesk</a>.{% endblocktrans %}</p>{% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div>
      </div>
    </div>
    {% if user == object.user or perms.kamu.change_basic_information %}
      <a href="{% url 'identity-change' object.pk %}" class="btn btn-primary me-2 mb-2">{% trans "Basic information" %}</a>
    {% endif %}
    {% if user == object.user or perms.kamu.change_contacts %}
      <a href="{% url 'contact-change' object.pk %}" class="btn btn-primary me-2 mb-2">{% trans "Contact information" %}</a>
    {% endif %}
    {% if user == object.user or perms.kamu.change_identifiers %}
      <a href="{% url 'identity-identifier' object.pk %}" class="btn btn-primary me-2 mb-2">{% trans "Identifiers" %}</a>
    {% endif %}
    {% if user == object.user or perms.kamu.view_contracts %}
      <a href="{% url 'contract-list' object.pk %}" class="btn btn-primary mb-2">{% trans "Contracts" %}</a>
    {% endif %}
  {% endif %}
  {% if user == object.user or perms.kamu.view_accounts %}
    <h2 class="mt-4">{% trans "User accounts" %}</h2>
    <a href="{% url 'account-list' object.pk %}" class="btn btn-primary me-2 mb-2">{% trans "Manage user accounts" %}</a>
  {% endif %}
  <h2 id="roles-list" class="mt-4">{% trans "Role memberships" %}</h2>
  {% if memberships %}
    <div class="table-responsive">
      <table class="table" aria-describedby="roles-list">
        <thead>
        <tr>
          <th scope="col">{% trans "Role" %}</th>
          <th scope="col">{% trans "Status" %}</th>
          <th scope="col">{% trans "Expires" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in memberships %}
          <tr>
            <th scope="row"><a href="{% url 'membership-detail' membership.pk %}">{{ membership.role.name }}</a></th>
            <td>{{ membership.get_status_display }}</td>
            <td>{{ membership.expire_date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>{% trans "You do not have any current or upcoming memberships." %}</p>
  {% endif %}
  {% if expired_memberships %}
    <h3 id="expired-roles-list" class="mt-4">{% trans "Expired memberships" %}</h3>
    <div class="table-responsive">
      <table class="table" aria-describedby="expired-roles-list">
        <thead>
        <tr>
          <th scope="col">{% trans "Role" %}</th>
          <th scope="col">{% trans "Started" %}</th>
          <th scope="col">{% trans "Expired" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in expired_memberships %}
          <tr>
            <th scope="row"><a href="{% url 'membership-detail' membership.pk %}">{{ membership.role.name }}</a></th>
            <td>{{ membership.start_date }}</td>
            <td>{{ membership.expire_date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  {% if perms.kamu.combine_identities %}
    <h2>{% trans "Combine identities" %}</h2>
    <form method="post">{% csrf_token %}
      <input type="submit" name="combine_target" value="{% trans "Set as target" %}" class="btn btn-primary" id="combine_identity_target" />
      <input type="submit" name="combine_source" value="{% trans "Set as source" %}" class="btn btn-warning" id="combine_identity_source" />
    </form>
  {% endif %}
{% endblock %}