{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1 class="mb-4">{{ object.display_name }} | {% trans "Verification of identity and information" %}</h1>
  {% if object.assurance_level > assurance_level.LOW %}
    <div class="alert alert-success" role="alert">
      {% blocktrans %}Your identity and personal information have already been verified. If you want to update your
      information, please identify yourself again by using the Suomi.fi or eIDAS e-identification services.
      {% endblocktrans %}
    </div>
  {% endif %}
  <p>{% trans "Current verification level:" %} {{ object.get_assurance_level_display }}</p>
  <div class="alert alert-info" role="alert">
    <p>{% trans "The following information will be updated or added to your information." %}</p>
    <ul>
      <li>{% trans "Official names" %}</li>
      <li>{% trans "Date of birth" %}</li>
      <li>{% trans "Nationality" %}</li>
      <li>{% trans "Gender" %}</li>
      <li>{% trans "Finnish personal identity code" %}</li>
      <li>{% trans "Identity document type and expiration date" %}</li>
    </ul>
  </div>
  <form method='POST'>
    {% csrf_token %}
    {% if object.fpic %}
      {% if suomifi_enabled %}
        <h2>{% trans "Suomi.fi e-identification" %}</h2>
        <p>{% blocktrans %}"Verify your identity using Suomi.fi e-identification. Suomi.fi e-identification is a
          Finnish identification service that allows you to verify your identity and personal information using,
          for example, bank credentials or a mobile certificate.{% endblocktrans %}</p>
        <p>{% trans "You can use the service free of charge." %}</p>
        <button type="submit" name="verify_identity" value="suomifi" class="btn btn-primary mb-4">
          {% trans "Verify your identity Suomi.fi e-identification" %}</button>
      {% endif %}
    {% else %}
      {% if suomifi_enabled %}
        <h2>{% trans "Suomi.fi or eIDAS e-identification" %}</h2>
        <p>{% trans "Verify your identity using Suomi.fi or eIDAS e-identification." %}</p>
        <p>{% blocktrans %}"Suomi.fi e-identification is a Finnish identification service that allows you to verify
          your identity and personal information using, for example, bank credentials or a mobile certificate.
        {% endblocktrans %}</p>
        <p>{% blocktrans %}"eIDAS is the EU’s strong identification service that enables the use of your own national
          identification provider to verify your identity. {% endblocktrans %}</p>
        <p>{% trans "You can use the services free of charge." %}</p>
        <button type="submit" name="verify_identity" value="suomifi" class="btn btn-primary mb-4">
          {% trans "Verify your identity Suomi.fi or eIDAS e-identification" %}</button>
      {% endif %}
      {% if candour_enabled and object.assurance_level < assurance_level.HIGH %}
        <h2>{% trans "Candour ID" %}</h2>
        <div class="alert alert-info" role="alert">
          <p>{% blocktrans %}Persons without eIDAS access can use Candour ID to verify their identity. For this, you
            will need a passport or identity document and the Candour ID app.{% endblocktrans %}</p>
            <p>{% blocktrans %}Please check and correct the information below before using Candour ID. The information
              must be the same as on your passport or ID card. You can correct the information by returning to My
              information and selecting Personal information.{% endblocktrans %}</p>
          <dl class="row">
            <dt class="col-sm-4">{% trans "Official given names" %}</dt>
            <dd class="col-sm-8">{{ object.given_names|default:"&nbsp;" }}</dd>
            <dt class="col-sm-4">{% trans "Official surname" %}</dt>
            <dd class="col-sm-8">{{ object.surname|default:"&nbsp;" }}</dd>
            {% if object.date_of_birth %}
              <dt class="col-sm-4">{% trans "Date of birth" %}</dt>
              <dd class="col-sm-8">{{ object.date_of_birth|default:"&nbsp;" }}</dd>
            {% endif %}
          </dl>
        </div>
        {% if candour_link %}
          <p>{% trans "You have unfinished Candour ID identification process." %}</p>
          <a href="{{ candour_link }}" class="btn btn-primary mb-4">{% trans "Continue" %}</a>
        {% else %}
          <p>{% trans "Verify your identity using passport or ID card and a mobile phone application." %}</p>
          <button type="submit" name="verify_identity" value="candour" class="btn btn-primary mb-4">
            {% trans "Verify your identity using a biometric passport or identity document" %}</button>
          {% if object.assurance_level < assurance_level.MEDIUM %}
            <p>{% blocktrans %}If your passport or ID card does not contain an RFID chip or your phone does not
              support NFC, you can use a non-biometric passport or ID card to verify your identity at a lower level.
              You also need a mobile application or web browser and a camera connected to it.
              {% endblocktrans %}</p>
            <button type="submit" name="verify_identity" value="candour_low" class="btn btn-secondary mb-4">
            {% trans "Verify your identity at a lower level of identification" %}</button>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </form>
  <div>
    <a class="btn btn-secondary" href="{% url 'identity-detail' pk=identity.pk %}">{% trans "Return" %}</a>
  </div>
{% endblock %}