{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="mb-3">{% trans "Kamu" %}</h1>
  <p>{% trans "Membership register of the University of Helsinki community." %}</p>
  {% if user.is_authenticated %}
    {% if perms.kamu.search_roles %}
      <h2 class="mb-4 mt-4">{% trans "Membership and role management" %}<button type="button" class="btn btn-info btn-sm info-button" data-bs-toggle="modal" data-bs-target="#infoModal">{% trans "info" %}</button></h2>
      <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="infoModalLabel">{% trans "Manage role memberships" %}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
              <p class="text-break">{% blocktrans %}All permissions provided to users are based on the active role memberships. Role membership becomes active when all requirements of the membership are fulfilled:{% endblocktrans %}</p>
              <ul>
                <li>{% trans "Membership has been approved" %}</li>
                <li>{% trans "Membership is in active period, i.e. after start date and before expiration date." %}</li>
                <li>{% trans "Role requirements are fulfilled. This may include signing agreements, giving certain user information and confirming user identity." %}</li>
              </ul>
              {% if HELP_LINK_MANAGERS %}<p class="text-break">{% blocktrans with link=HELP_LINK_MANAGERS %}Read more about role management from the <a href="{{ link }}">IT Helpdesk</a>.{% endblocktrans %}</p>{% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-3">
          <h3>{% trans "Memberships pending approval" %}</h3>
          <p>{% blocktrans %}Shows memberships pending approval for roles for which you have invitation or approval
            permissions. {% endblocktrans %}</p>
          <a href="{% url 'membership-approval' %}" class="btn btn-primary mb-3">{% trans "Pending approval" %}</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <h3>{% trans "Expiring memberships" %}</h3>
          <p>{% blocktrans %}Shows memberships expiring within a month for roles for which you have invitation or
            approval permissions. {% endblocktrans %}</p>
          <a href="{% url 'membership-expiring' %}" class="btn btn-primary mb-3">{% trans "Expiring memberships" %}</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <h3>{% trans "My managed memberships" %}</h3>
          <p>{% blocktrans %}Shows which invitations and/or approvals you have made yourself.{% endblocktrans %}</p>
          <a href="{% url 'membership-managed' %}" class="btn btn-primary mb-3">{% trans "My edits" %}</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <h3>{% trans "Member invitation" %}</h3>
          <p>{% blocktrans %}Shows the roles to which you can invite new members. You can also start the invitation
            process for these roles. {% endblocktrans %}</p>
          <a href="{% url 'role-list-inviter' %}" class="btn btn-primary mb-3">{% trans "Invite members" %}</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <h3>{% trans "Roles you can approve" %}</h3>
          <p>{% blocktrans %}Shows the roles for which you can approve members. You can also start the invitation
            process for these roles. {% endblocktrans %}</p>
          <a href="{% url 'role-list-approver' %}" class="btn btn-primary mb-3">{% trans "Pending roles" %}</a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <h3>{% trans "Roles I own" %}</h3>
          <p>{% blocktrans %}Shows the roles of which you are the owner. {% endblocktrans %}</p>
          <a href="{% url 'role-list-owner' %}" class="btn btn-primary mb-3">{% trans "Roles I own" %}</a>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-3">
        <h2 class="mt-4">{% trans "My information" %}</h2>
        <p>{% trans "View and manage your information. This includes name and contact information, linked identifiers and any agreements." %}</p>
        <a href="{% url 'identity-me' %}" class="btn btn-primary mb-3">{% trans "My information" %}</a>
      </div>
    </div>
    {% if request.user.is_staff %}
      <h2 class="mb-4 mt-4">{% trans "Admin utilities" %}</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-3">
          <h3>{% trans "Admin site" %}</h3>
          <p>{% blocktrans %}Admin site allows you to manage role and permission information, according to your
            access rights.{% endblocktrans %}</p>
          <a href="{% url 'admin:index' %}" class="btn btn-primary mb-3">{% trans "Admin site" %}</a>
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="row">
      <div class="col-md-6">
        <h2>{% trans "Login" %}</h2>
        <p>{% trans "Manage your own information and memberships or invite new users." %}</p>
        <a href="{% url 'login' %}" class="btn btn-primary mb-3">{% trans "Login" %}</a>
      </div>
      <div class="col-md-6">
        <h2>{% trans "Register" %}</h2>
        <p>{% trans "If you have received a personal invitation code, register for Kamu here." %}</p>
        <a href="{% url 'login-invite' %}" class="btn btn-primary mb-3">{% trans "Register" %}</a>
      </div>
    </div>
  {% endif %}
{% endblock %}