{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 id="members-list" class="mb-4">{% trans "Expiring memberships" %}</h1>
  <p class="text-break">{% blocktrans with day_limit=expiring_date_limit %}Shows a list of memberships expiring within
    {{ day_limit }} days for roles for which you have invite or approval permissions. If the list is empty, there are
    no expiring memberships at the moment. Please note that another approver may have recently extended or cancelled
    the membership.{% endblocktrans %}</p>
  <div class="table-responsive">
    <table class="table" aria-describedby="members-list">
      <thead>
      <tr>
        <th scope="col">{% trans "Person" %}</th>
        <th scope="col">{% trans "Role" %}</th>
        <th scope="col">{% trans "Status" %}</th>
        <th scope="col" class="d-none d-xl-block">{% trans "Start date" %}</th>
        <th scope="col">{% trans "Expiration date" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for membership in object_list %}
        <tr>
          <th scope="row"><a href="{% url 'membership-detail' membership.pk %}">{% if membership.identity %}{{ membership.identity }}{% else %}{% trans "Invite" %}: {{ membership.invite_email_address }}{% endif %}</a></th>
          <td>{{ membership.role }}</td>
          <td>{{ membership.get_status_display }}</td>
          <td class="d-none d-xl-table-cell">{{ membership.start_date|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ membership.expire_date|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}