{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load identity_tags %}

{% block content %}
  <h1>{% trans "Invite new member to role of" %} {{ role.name }}</h1>
  <div class="alert alert-success" role="alert">
    <p>{% trans "Start by searching for a person using their identifiers or name. If the person is already in the university’s personal data register, you can assign them a role directly. Otherwise, search by email address and send the person an invitation to register for Kamu." %}</p>
    {% if HELP_LINK_MANAGERS %}<p class="text-break">{% blocktrans with link=HELP_LINK_MANAGERS %}You can find more instructions on the <a href="{{ link }}">IT-Helpdesk support pages</a>.{% endblocktrans %}</p>{% endif %}
  </div>
  {% crispy form form.helper %}
  {% if object_list or request.POST.submit %}
    <h2 id="results-list">{% trans "Search results" %}</h2>
    {% if object_list %}
      <p>{% trans "To protect individuals' privacy, unique identifiers are displayed only if they match exactly the identifier entered in the search." %}</p>
      <div class="table-responsive">
        <table class="table" aria-describedby="results-list">
          <thead>
          <tr>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "User account" %}</th>
            <th scope="col">{% trans "Attributes" %}</th>
            <th scope="col">{% trans "Select" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for identity in object_list %}
            <tr>
              <th scope="row"><a href="{% url 'identity-detail' identity.pk %}">{{ identity.display_name }}</a></th>
              <td>{% if uid and uid == identity.uid %}<b>{{ identity.uid }}</b>{% elif identity.uid %}{{ identity.uid }}{% endif %}</td>
              <td>{% matching_attributes identity=identity email=email phone=phone fpic=fpic as attributes %}{{ attributes|safe }}</td>
              <td><a href="{% url 'role-invite-details' role.pk identity.pk %}" class="btn btn-primary mb-3 me-3">{% trans "Add role" %}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>{% trans "No results with the provided search parameters." %}</p>
      {% if not email %}<p>{% trans "If you want to invite someone to a role, try searching again using their email address. An email address is required for everyone who registers with Kamu." %}</p>{% endif %}
    {% endif %}
  {% endif %}
  {% if email and not email_found %}
    <h3>{% trans "Email invitation" %}</h3>
    <p>{% blocktrans with email=email %}The email address you provided was not found in our records: {{ email }}{% endblocktrans %}</p>
    <a href="{% url 'role-invite-details-email' role.pk %}" class="btn btn-primary mb-3 me-3">{% trans "Go to sending the invitation" %}</a>
  {% endif %}

  {% if persondb_results %}
    <h2 id="persondb-results-list" class="mt-4">{% trans "Person database results" %}</h2>
    <div class="table-responsive">
      <table class="table" aria-describedby="persondb-results-list">
        <thead>
        <tr>
          <th scope="col">{% trans "Name" %}</th>
          <th scope="col">{% trans "Attributes" %}</th>
          <th scope="col">{% trans "Select" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for result in persondb_results %}
          <tr>
            <th scope="row">{{ result.given_name_display }} {{ result.surname_display }}</th>
            <td>{% matching_attributes_persondb result=result email=email phone=phone fpic=fpic as attributes %}{{ attributes|safe }}</td>
            <td><a href="{% url 'role-invite-persondb' role.pk result.person_uuid %}" class="btn btn-primary mb-3 me-3">{% trans "Add to role" %}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if ldap_results %}
    <h2 id="ldap-results-list" class="mt-4">{% trans "User directory results" %}</h2>
    <div class="table-responsive">
      <table class="table" aria-describedby="ldap-results-list">
        <thead>
        <tr>
          <th scope="col">{% trans "Name" %}</th>
          <th scope="col">{% trans "User account" %}</th>
          <th scope="col">{% trans "Attributes" %}</th>
          <th scope="col">{% trans "Select" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for result in ldap_results %}
          <tr>
            <th scope="row">{{ result.cn }}</th>
            <td>{% if uid and uid == result.uid %}<b>{{ result.uid }}</b>{% else %}{{ result.uid }}{% endif %}</td>
            <td>{% matching_attributes_ldap result=result email=email fpic=fpic as attributes %}{{ attributes|safe }}</td>
            <td><a href="{% url 'role-invite-ldap' role.pk result.uid %}" class="btn btn-primary mb-3 me-3">{% trans "Add to role" %}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}