{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 id="members-list" class="mb-4">{% trans "Memberships pending approval" %}</h1>
  <p class="text-break">{% blocktrans %}Shows a list of memberships pending approval for roles for which you have
    invite or approval permissions. If the list is empty, all memberships have already been approved. Please note that
    another approver may have recently approved or rejected the membership.{% endblocktrans %}</p>
  <div class="table-responsive">
    <table class="table" aria-describedby="members-list">
      <thead>
      <tr>
        <th scope="col">{% trans "Person" %}</th>
        <th scope="col">{% trans "Role" %}</th>
        <th scope="col">{% trans "Status" %}</th>
        <th scope="col">{% trans "Start date" %}</th>
        <th scope="col" class="d-none d-xl-block">{% trans "Expiration date" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for membership in object_list %}
        <tr>
          <th scope="row"><a href="{% url 'membership-detail' membership.pk %}">{% if membership.identity %}{{ membership.identity }}{% else %}{% trans "Invite" %}: {{ membership.invite_email_address }}{% endif %}</a></th>
          <td>{{ membership.role }}</td>
          <td>{{ membership.get_status_display }}</td>
          <td>{{ membership.start_date|date:"SHORT_DATE_FORMAT" }}</td>
          <td class="d-none d-xl-table-cell">{{ membership.expire_date|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}