{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mb-5">{% trans "Invite a new member" %}</h1>
  <div class="row">
    <div class="col-xl-6">
      <h2>{% trans "Role" %}</h2>
      <dl class="row">
        <dt class="col-sm-4">{% trans "Name" %}</dt>
        <dd class="col-sm-8"><a href="{% url 'role-detail' role.pk %}">{{ role.name }}</a></dd>
        <dt class="col-sm-4">{% trans "Organisation unit" %}</dt>
        <dd class="col-sm-8">{{ role.organisation|default:"&nbsp;" }}{% if role.organisation.code %} ({{ role.organisation.code }}){% endif %}</dd>
        <dt class="col-sm-4">{% trans "Permissions" %}</dt>
        <dd class="col-sm-8">{% for permission in role.get_permissions %}{{ permission }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</dd>
        <dt class="col-sm-4">{% trans "Total cost" %}</dt>
        <dd class="col-sm-8 mb-5">{{ role.get_cost }} €</dd>
        <dt class="col-sm-4">{% trans "Maximum duration" %}</dt>
        <dd class="col-sm-8">{{ role.maximum_duration }} {% trans "days" %}</dd>
        <dt class="col-sm-4">{% trans "SMS verification" %}</dt>
        <dd class="col-sm-8">{{ role.require_sms_verification }}</dd>
      </dl>
    </div>
    {% if identity %}<div class="col-xl-6">
      <h2>{% trans "Identity" %}</h2>
      <dl class="row">
        <dt class="col-sm-4">{% trans "Name" %}</dt>
        <dd class="col-sm-8"><a href="{% url 'identity-detail' identity.pk %}">{{ identity }}</a></dd>
        <dt class="col-sm-4">{% trans "Preferred language" %}</dt>
        <dd class="col-sm-8 mb-5">{{ identity.get_preferred_language_display }}</dd>
      </dl>
    </div>{% elif ldapuser %}<div class="col-xl-6">
      <h2>{% trans "Identity" %}</h2>
      <dl class="row">
        <dt class="col-sm-4">{% trans "Name" %}</dt>
        <dd class="col-sm-8">{{ ldapuser.cn }}</dd>
        <dt class="col-sm-4">{% trans "User account" %}</dt>
        <dd class="col-sm-8">{{ ldapuser.uid }}</dd>
        <dt class="col-sm-4">{% trans "Email" %}</dt>
        <dd class="col-sm-8">{{ ldapuser.mail }}</dd>
      </dl>
    </div>{% endif %}
  </div>
  {% if preview_subject and preview_message %}
    <h2 class="mb-3 mt-4">{% trans "Preview message" %}</h2>
    <h3>{% trans "Subject" %}</h3>
    <code>{{ preview_subject }}</code>
    <h3>{% trans "Message" %}</h3>
    <code>{{ preview_message|linebreaksbr }}</code>
  {% endif %}
  {% if to_be_added or to_be_invited %}
    <h2 class="mb-3 mt-4">{% trans "Multiple invites" %}</h2>
    {% if to_be_added %}
      <p>{% trans "Following identities in Kamu will be added to the role:" %}</p>
      <ul>
        {% for identity in to_be_added %}
          <li><a href="{% url 'identity-detail' identity.pk %}">{{ identity.display_name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if to_be_invited %}
      <p>{% trans "Following email addresses will receive an invitation:" %}</p>
      <ul>
        {% for email, phone in to_be_invited %}
          <li>{{ email }}{% if phone %}, {{ phone }}{% endif %}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if missing_phone %}
      <p>{% trans "This role requires SMS verification and following addresses will be skipped because of the missing phone number:" %}</p>
      <ul>
        {% for email in missing_phone %}
          <li>{{ email }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
  <h2 class="mb-3 mt-4">{% trans "Member information" %}</h2>
  <form method="post">
    {% csrf_token %}
    {% crispy form form.helper %}
  </form>
{% endblock %}