{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1 class="mb-5">{% trans "Role membership" %}</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>{% trans "Role" %}</h2>
      <dl class="row">
        <dt class="col-sm-3">{% trans "Name" %}</dt>
        <dd class="col-sm-9"><a href="{% url 'role-detail' object.role.pk %}">{{ object.role }}</a></dd>
        <dt class="col-sm-3">{% trans "Permissions" %}</dt>
        <dd class="col-sm-9">{% for permission in object.role.get_permissions %}{{ permission }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</dd>
        <dt class="col-sm-3">{% trans "Total cost" %}</dt>
        <dd class="col-sm-9 mb-5">{{ object.role.get_cost }} €</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <h2>{% trans "Identity" %}</h2>
      {% if object.identity %}
        <dl class="row">
          <dt class="col-sm-3">{% trans "Name" %}</dt>
          <dd class="col-sm-9"><a href="{% url 'identity-detail' object.identity.pk %}">{{ object.identity }}</a></dd>
          <dt class="col-sm-3">{% trans "Preferred language" %}</dt>
          <dd class="col-sm-9 mb-5">{{ object.identity.get_preferred_language_display }}</dd>
        </dl>
      {% else %}
        <p>{% trans "Identity has not yet been linked to this membership." %}</p>
        <p>{% trans "Invite has been sent to"%} {{ membership.invite_email_address }}.</p>
      {% endif %}
    </div>
    <div class="col">
      <h2>{% trans "Membership details" %}</h2>
      <dl class="row">
        <dt class="col-sm-3">{% trans "Status" %}</dt>
        <dd class="col-sm-9">{{ object.get_status_display }}</dd>
        <dt class="col-sm-3">{% trans "Start date" %}</dt>
        <dd class="col-sm-9">{{ object.start_date }}</dd>
        <dt class="col-sm-3">{% trans "Expire date" %}</dt>
        <dd class="col-sm-9">{{ object.expire_date }}</dd>
        <dt class="col-sm-3">{% trans "Approver" %}</dt>
        <dd class="col-sm-9">{% if object.approver %}{{ object.approver.get_full_name }}{% else %}&nbsp;{% endif %}</dd>
        <dt class="col-sm-3">{% trans "Inviter" %}</dt>
        <dd class="col-sm-9">{% if object.inviter %}{{ object.inviter.get_full_name }}{% else %}&nbsp;{% endif %}</dd>
        <dt class="col-sm-3">{% trans "Reason" %}</dt>
        <dd class="col-sm-9">{{ object.reason }}</dd>
      </dl>
    </div>
  </div>
{% endblock %}