{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% block role_list_description %}
    <h1 id="roles-list" class="mb-4">{% trans "Role list" %}</h1>
  {% endblock %}
  {% if object_list %}
    <div class="table-responsive">
      <table class="table" aria-describedby="roles-list">
        <thead>
        <tr>
          <th scope="col">{% trans "Role name" %}</th>
          <th scope="col">{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for role in object_list %}
          <tr>
            <th scope="row"><a href="{% url 'role-detail' role.pk %}">{{ role.name }}</a></th>
            <td>{{ role.description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>{% trans "No roles." %}</p>
  {% endif %}
{% endblock %}